<?define Name = "Steam Account Switcher"?>
<?define Manufacturer = "Daniel Chalmers"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="22E1FAEA-639E-400B-9DCB-F2D04EC126E1" Language="1033" InstallerVersion="500" Scope="perUser">

    <SummaryInformation Manufacturer="$(var.Manufacturer)" />

    <Icon Id="Logo.ico" SourceFile="SteamAccountSwitcher\SteamAccountSwitcher.ico" />
    <Property Id="ARPPRODUCTICON" Value="Logo.ico" />

    <Media Id="1" Cabinet="App.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <!--Main executable-->
      <ComponentGroupRef Id="ProductComponents" />
      <!--Program Menu shortcut-->
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
    </StandardDirectory>

    <CustomAction Id="RunMainApp" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]SteamAccountSwitcher.exe" Execute="commit" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="RunMainApp" Before="InstallFinalize" />
    </InstallExecuteSequence>
  </Package>

  <!--Main executable-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SteamAccountSwitcher.exe" Guid="CB6B1983-3747-44E1-A1AF-11CB626BBB2F">
        <File Id="SteamAccountSwitcher.exe" Name="SteamAccountSwitcher.exe" Source="publish/SteamAccountSwitcher.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Program Menu shortcut-->
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.Name)" Icon="Logo.ico" Target="[#SteamAccountSwitcher.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>