<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SteamAccountSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SteamAccountSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <SteamAccountSwitcher.Properties.Settings>
      <setting name="SteamInstallDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SteamArguments" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowAvatars" serializeAs="String">
        <value>True</value>
      </setting>
    </SteamAccountSwitcher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SteamAccountSwitcher.Properties.Settings>
      <setting name="SteamLogoutTimeoutMax" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="SteamLogoutTimeoutInterval" serializeAs="String">
        <value>100</value>
      </setting>
    </SteamAccountSwitcher.Properties.Settings>
  </applicationSettings>
</configuration>
